ion-footer,
ion-header {
    background: #fff;
    box-shadow: none !important;

    &:after {
        content: none !important;
    }

    ion-title {
        font-size: 16px;
        font-weight: 600;
        color: var(--ion-color-dark);
    }

    ion-buttons+ion-title {
        padding: 0;
    }
}

* {
    letter-spacing: 0 !important;
}

img.logo {
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

.start-container {
    margin: 0;
    position: relative;
    top: 10%;
}

ion-badge {
    font-size: 10px;
    font-weight: 700;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    line-height: 13px;
}