<ion-header>

  <ion-toolbar>
    <ion-title>WhatsApp</ion-title>
    <!-- <ion-segment value="chat">
      <ion-segment-button value="chat">
        <ion-label>Conversas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="status">
        <ion-label>Status</ion-label>
      </ion-segment-button>
    </ion-segment> -->
    
    <ion-buttons slot="secondary">
      <!-- <ion-button>
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button> -->
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chatbubble-ellipses"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>